# 1.4 Getting help

You may want to read additional information about Abaqus/Viewer features at various points during the tutorials. The context-sensitive help system allows you to locate relevant information quickly and easily. Context-sensitive help is available for every item in the main window and in all dialog boxes.

**Note:**
- On Windows platforms, the help system uses your default web browser to display the online documentation.
- On UNIX and Linux platforms, the help system searches the system path for Firefox. If the help system cannot find Firefox, an error is displayed.
  The **browser_type** and **browser_path** variables can be set in the environment file to modify this behavior. For more information, see "System customization parameters," Section 4.1.4 of the Abaqus Installation and Licensing Guide.

**To obtain context-sensitive help:**

1. From the main menu bar, select **Help** → **On Context**.

   **Tip:**
   You can also click the help tool ![](../graphics/ico_help.png) to access context-sensitive help.

   The cursor changes to a question mark.

2. Click any part of the main window except its frame.

   A help window appears in your browser window. The help window displays information about the item you selected.

3. Scroll to the bottom of the help window.

   At the bottom of the window, a list of blue, underlined items appears. These items are links to the [Abaqus/CAE User's Guide](../usi/usi-link.htm#usi), which includes all Abaqus/Viewer help topics.

4. Click any one of the items.

   A book window appears in your default web browser. The window is arranged into four frames as follows:
   - The [Abaqus/CAE User's Guide](../usi/usi-link.htm#usi) appears in a text frame on the right side of the window. The guide is turned to the item that you selected.
   - An expandable table of contents is available on the lower left side of the window for easy navigation throughout the book.
   - The table of contents control tools in the upper left frame allow you to vary the level of detail displayed in the table of contents frame or to change the size of the frame. Click ![](../graphics/hhp-toc-expand.png) to expand several levels in the table of contents of an online book. Click ![](../graphics/hhp-toc-collapse.png) to collapse all expanded sections in the table of contents. Click ![](../graphics/hhp-toc-wide.gif) and ![](../graphics/hhp-toc-narrow.gif), respectively, to widen or narrow the table of contents frame.
   - The navigation frame at the top of the book window allows you to select another book from the entire Abaqus documentation collection. The navigation frame also allows you to search the entire guide.

5. Click any item in the table of contents.

   The text frame changes to reflect the item you selected.

6. Click the ![](../graphics/collapsd.gif) icon to the left of a topic heading to expand it.

   The headings of the subtopics appear under the topic heading, and the sign changes to ![](../graphics/expanded.gif), indicating that the section is expanded. If ![](../graphics/leaf.gif) appears beside a subsection, there are no further levels within that section to expand. To collapse an expanded section of the table of contents, click ![](../graphics/expanded.gif) next to the topic heading.

7. In the search panel in the navigation frame, type any word that appears in the text frame on the right and click **Search**.

   When the search is complete, the table of contents frame displays the number of hits next to each topic heading and all hits become highlighted in the text frame. Click **Next Match** or **Previous Match** in the navigation frame to move through the document from one hit to the next.

   You can enter a single word or a phrase in the search panel, and you can use the [*] character as a wildcard. For detailed instructions on using the search capabilities of the online documentation, see [Using Abaqus Online Documentation](../hhp/hhp-link.htm#hhp).

8. Close the web browser windows.
